*{
    padding: 0;
    margin: 0;
}
video {
    position: absolute;
    left:1vw;
    top:3vw;
    width:90%;
}
/*響応式  */
@media screen and (max-width:768px)
{
    video {
        position: absolute;
        width:100%;
        top:20vh;
    }
}